main{
    width: 100%;
    

    .container-fluid {
        padding-top: 20rem;
    }
    
    .fw-bold {
        font-size: 2rem;
        text-align: center;
    }
    .mb-0 {
        padding: 2rem;
        font-size: 24px;
        margin-top: 2rem;
        text-align: center;
      
    }
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 5rem;
    }
    .p-5{
        justify-content: space-between;
        align-self: center;
    }
  
}